@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,400;0,700;1,400&display=swap');

$color-blossom: #F250D7;
$color-fade: #F6DFA9;

$color-bg: #011126;
$color-bg-alt: #025373;

$color-text: #D1FFFF;
$font-size-base: 1.8rem;

$font-family-base: 'Victor Mono', monospace;
$font-family-heading: $font-family-base;

// Gruvbox Light Theme Colors
$primary: #d5c4a1; // Gruvbox fg1 (Creamy Yellow)
$secondary: #689d6a; // Gruvbox green (Green)
$success: #b8bb26; // Gruvbox yellow (Yellow)
$info: #458588; // Gruvbox blue (Blue)
$warning: #d79921; // Gruvbox orange (Orange)
$danger: #fb4934; // Gruvbox red (Red)
$light: #ebdbb2; // Gruvbox fg (Light Background)
$dark: #3c3836; // Gruvbox bg (Dark Text)