@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,400;0,700;1,400&display=swap');

$color-blossom: #F250D7;
$color-fade: #F6DFA9;

$color-bg: #011126;
$color-bg-alt: #025373;

$color-text: #D1FFFF;
$font-size-base: 1.8rem;

$font-family-base: 'Victor Mono', monospace;
$font-family-heading: $font-family-base;
